@model TestAjax.Models.TestModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>  

    <script src="~/Scripts/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.css">

    <link rel="stylesheet" type="text/css" href="~/Content/search-front-end-engine-style.css">
    <!-- Need add a link to the script-->
    <script src="~/Scripts/search-front-end-engine.js"></script> 
</head>
<body>
    <table>
        <tr>
            <td id="search-panel">
                <input type="text" id="SearchTextBox" />
                <input type="button" onclick="Search_BtnClick()" value="Поиск" id="SearchBtn" class="btn btn-success"  /> 
                <div class = "panel panel-default">
                    
                    <ul id="search-result" class="panel-heading"> <!--thi tag contains search result--> </ul>
                </div>
            </td>
            <td id="eDrawings-panel">
                <!--this block is an edrawings element-->
                <OBJECT ID="eDrawings-controll"
                        classid="clsid:22945A69-1191-4DCF-9E6F-409BDE94D101"                     
                        width="400px"
                        height="400px">
                    <PARAM name="FullUI" value="1" />
                    <PARAM ID="eDrawings-controll-FileName" name="Filename" value="path_to_your_file_on_server" />
                </OBJECT>
            </td> 
        </tr>   
                
    </table>
</body>
</html>

    @*<script>
        // test code  $.getJSON =====================

        //$(function () {
        //    alert("test work jq");
        //    $.getJSON(
        //        "TestGet",
        //        null,
        //        function (str) {
        //            alert(str);
        //        }
        //        );
        //    }
        //);

        // end test code  $.getJSON =====================


        // test serch http get method on the $.getJSON ==========

        // SearchBtn click event handler
        function Search_BtnClick() {
            // result search TextBox
            var searchResault = document.getElementById("SearchTextBox").value;
            // wrapper for segment name, contains field segmentName and him value
            var segmentName = { segmentName: searchResault }

            // =========  удаление устаревших эелементов ====================
            var elements = document.getElementsByName("search-result-item");//
            for (var i = 0; i <= elements.length - 1; i++)                 //
            {                                                              //
                elements[i].parentNode.removeChild(elements[i]);           // 
                                                                           // 
            }                                                              //
            //==============================================================

            // Jquery on to Home/Search and perform ViewList(data)
            $.getJSON("Home/Search", segmentName, ViewSearchResult);

            // $.ajax("Home/Search").done(function (data) { t = data });

            //  alert("полученое значение:  " + t.toString());
        }

        function ViewSearchResult(searchResult) {
            $.each(searchResult, function (i) {

                var buildHtmlElement = '<p>' +
                    '<input type="button"  name = "search-result-item" value=' + this.Name +
                     ' onclick="GetModel_BtnClick(' +
                     this.Id +
                    ')">' +
                     '</p>';
                $("#search-result").append(buildHtmlElement);
            });
        }

        function GetModel_BtnClick(id) {
            var transferId = { modelId: id }
            $.getJSON("Home/GetTestModel", transferId, ViewSldModel
        );
        }
        
        function ViewSldModel(sldModel) {
            //         test
            //  alert(sldModel.Model);
            //=================
            
            //var eDrawingControllFileName = document.getElementById("eDrawings-controll-FileName");
            $('#eDrawings-controll-FileName').val(sldModel.Model);
        }
   
    </script>*@



